conv_4_layer/output/*

last.1/output/*
last.2/output/*
last.3/output/*
ntlsm_one_day/output/*

**/*.pyc
MNIST_data/*
**/trainData.csv

reinforcement_learn/data/rl-network.h5
reinforcement_learn/data/rl-network-results.tsv
ntlsm_one_day/one_step_save/**/*.*
ntlsm_one_day/**/*.h5
**/output/*
**/*.h5
**/*.tsv



