conv_4_layer/output/*

last.1/output/*
last.2/output/*
last.3/output/*
ntlsm_one_day/output/*

**/*.pyc
MNIST_data/*
**/trainData.csv

reinforcement_learn/data/rl-network.h5
reinforcement_learn/data/rl-network-results.tsv
ntlsm_one_day/one_step_save/**/*.*
ntlsm_one_day/**/*.h5
**/output/*
**/*.h5
**/*.tsv



forex_reinforcement/.iptable_fix.txt.swp
forex_reinforcement/.run_help.txt.swp
forex_reinforcement/run_help.txt.save
forex_reinforcement/.vscode/settings.json
forex_reinforcement2/offline/runs/*
forex_reinforcement2/offline/saves/*

forex_reinforcement2/runs/*

forex_reinforcement2/offline/data/test_data/v2018.csv
forex_reinforcement2/offline/data/train_data/data_5yr_to_9_2017.csv
forex_reinforcement2/saves/*



forex_reinforcement2/offline_rainbow/res/*
